body {
    background: white;
}

.navigation {
    text-decoration: none;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100%;
    max-width: 50px;
}
#logo{
width: 150px;
height: 100px;
}


.main, .menu {
    width: 100%;
    max-width: 700px;
    padding: 0 0 0 50px;
    margin: 32px auto;
}

.paragraph--index_01, .paragraph--index_02 {
    padding: 0 20px 0 20px;
}

.secondHeader_01, .secondHeader_02 {
    color: orange;
}

.button-menu{

}

.mainHeader {
    border-bottom: 3px solid orange;
    color: orange;
    
    width: 100%;
    max-width: 270px;
}

#fota--index_01 {
    width: 100%;
    max-width: 700px;
}

#fota--index_02 {
    top: 50px;
    width: 100%;
    max-width: 150px;
    float: right;
}

.powrot {
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.footer {
    border-top: 3px dotted black;
}